@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: black;
}

.container {
    display: flex;
}

.left {
    width: 28vw;
}

.right {
    width: 72vw;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 7px;
}

.close {
    display: none;

}

.logo img {
    filter: invert(1);
}

.home .logo {
    margin: 2px 14px;

}

.home {
    min-height: 14vh;
    border-radius: 8px;
    padding: 10px;
    background-color: #2d2d2d;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    margin: 20px;
}

.home ul {
    cursor: pointer;
    display: block;
    gap: 100px;
    margin: 2px 14px;
}

.home ul img {
    width: 16px;
}

.home ul li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    filter: invert(1);
}

#search {
    width: 110px;
    padding: 4px 2px 2px 2px;
    background-color: #252525;
    color: white;
    font-size: 14px;
    font-weight: 400;
    filter: invert(1);
}

.heading {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 34px 24px;
    display: flex;
    gap: 10px;
    filter: invert(1);
}

.library {
    height: 94vh;
    border: 2px solid black;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2d2d2d;
    border-radius: 8px;
    margin: 2px 14px;
}

.songList {
    filter: invert(1);
    margin: 4px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.songList ul {
    padding: 0 12px;

}

.songList ul li {
    cursor: pointer;
    list-style: none;
    margin: 16px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.songList ul li:hover {
    background-color: rgb(150 150 150 / 45%);
    filter: invert(0);
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    margin-left: 24px;
    bottom: 0;
    gap: 10px;
    font-size: 10px;
}

.footer a {
    color: #808080;
}

.hamburger {
    display: none;
    filter: invert(1);
    cursor: pointer;
}

nav .svg {
    cursor: pointer;

}

header {
    margin-top: 14px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34 34 34);
}

nav {
    display: flex;
    gap: 18px;
    margin: 10px;
}

.slbtn {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.drop {
    cursor: pointer;
    margin: 18px;
}

.drop select {
    padding: 6px 10px;
    font-weight: 800;

}

.signupbtn div {
    cursor: pointer;
    width: 100px;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(156, 148, 148);
    background-color: rgb(34 34 34);
    font-weight: bold;
    color: white;
    text-decoration: none;

}

.signupbtn div:hover {
    color: white;
    font-size: 18px;
}

.loginbtn div {
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    margin: 10px 10px 10px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 4px;
    color: black;
    text-decoration: none;
}

.loginbtn div:hover {
    width: 100px;
    font-size: 18px;

}

.spotifyPlaylists {
    background-color: #2d2d2d;
    color: white;
    margin-top: 0px;
}

.cardContainer {
    padding: 0 20px;
    max-height: none;
    display: flex;
    overflow: visible;
    /* overflow-y: auto; */
    padding-bottom: 304px;
    gap: 20px;
    flex-wrap: wrap;
    transition: all 5s;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.card {
    cursor: pointer;
    padding: 12px;
    height: 340px;
    background-color: #252525;
    transition: all 1s;
    position: relative;
}

.card:hover {
    --a: 1;
    background-color: rgb(105, 103, 103);
}

.card img {
    width: 212px;
    object-fit: contain;
    margin-top: 12px;
}

.card h2 {
    margin: 6px;
}

.card p {
    margin: 4px;
}

.spotifyPlaylists h1 {
    padding: 30px;
}

.playbar {
    background-color: #e2d9d9;
    filter: invert(1);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    bottom: 0;
    width: 68vw;
    position: fixed;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seekbar {
    width: 70vw;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    background-color: black;
    cursor: pointer;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    position: absolute;
    bottom: 5px;
    background-color: black;
    cursor: pointer;

}

.songinfo {
    width: 260px;
    font-size: 18px;
    padding: 14px;
}

.songbuttons {
    width: 180px;
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.volume {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.volume input {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}


@media screen and (max-width:1384px) {
    .cardContainer {
        display: flex;
        justify-content: center;
    }

    .home {
        border: 6px solid black;
        border-radius: 0;
    }

    .library {
        border: 6px solid black;
        border-radius: 0;

    }

    .songList ul li {
        word-break: break-all;
    }

    .hamburger {
        display: block;
    }

    .close {
        position: absolute;
        display: block;
        z-index: 1;
        right: 14px;
        top: 14px;
        filter: invert(1);
        width: 29px;

    }

    .left {
        width: 70vw;
        left: -1200px;
        position: absolute;
        z-index: 1;
    }

    .left>* {
        margin: 0;
    }

    .right {
        width: 100vw;
    }

    header {
        display: flex;
        gap: 100px;
        margin-top: 0;
    }

    .loginbtn {
        margin: 16px;
        padding: 12px;
    }

    nav {
        margin: 20px;

    }

    .playbar {
        width: 94vw;
    }

    .seekbar {
        width: 94vw;
    }
}

@media screen and (max-width:768px) {
    body {
        padding: 0;
        overflow-x: hidden;
        /* position: relative; */
    }


    .left {
        width: 75vw;
        position: absolute;
        left: -100%;
        z-index: 1;
    }

    .right {
        width: 100vw;
        height: 100vh;

        overflow-y: auto;
    }

    .cardContainer {
        display: flex;
        justify-content: center;
    }

    .playbar {
        width: 88vw;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        z-index: 9999;
        /* gap: 10px; */
        flex-direction: column;
    }

    .seekbar {
        width: 87vw;
    }

    header {
        display: flex;
        gap: 0;
        justify-content: space-around;
    }

    .slbtn {
        gap: 0;
        margin: 0;
    }

    .drop {
        display: none;
        margin: 0;
    }

    .signupbtn {
        display: none;
        width: 60px;
        margin: 0;
    }

    .loginbtn {

        width: 60px;
        margin: 0;

    }

    .songinfo {
        display: flex;
        justify-content: center;
    }


    .timevol {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 0px;
    }
}